.post-item {margin-bottom: 20px;}
.photo-wrapper {
    background-size:cover; background-position:center; background-repeat:no-repeat;
    height:300px;
}
.photo-wrapper img {display:none;}

.hidden {display: none;}